<div class="table-item">
  <div class="tab-row position"  >{{teamTable.position}}</div>
  <!--<div class="tab-row"  ><img src="{{teamTable.team.crestUrl}}" alt="" height="32px"></div>-->
  <div class="tab-row team">{{teamTable.team.name}}</div>
  <div class="tab-row"  >{{teamTable.playedGames}}</div>
  <div class="tab-row"  >{{teamTable.won}}</div>
  <div class="tab-row"  >{{teamTable.draw}}</div>
  <div class="tab-row"  >{{teamTable.lost}}</div>
  <div class="tab-row"  >{{teamTable.goalDifference}}</div>
  <div class="tab-row"  >{{teamTable.points}}</div>
</div>
