<div class="table-item">
  <div class="tab-row position"  >{{team.position}}</div>
  <div class="tab-row"  ><img src="{{team.crestURI}}" alt="" height="32px"></div>
  <div class="tab-row team">{{team.teamName}}</div>
  <div class="tab-row"  >{{team.playedGames}}</div>
  <div class="tab-row"  >{{team.wins}}</div>
  <div class="tab-row"  >{{team.draws}}</div>
  <div class="tab-row"  >{{team.losses}}</div>
  <div class="tab-row"  >{{team.goalDifference}}</div>
  <div class="tab-row"  >{{team.points}}</div>
</div>
