<ng-container *ngIf="!loading && !error">
  <mat-toolbar color="primary" *ngIf="competition">
    <mat-toolbar-row>
      <h2>{{competition.competition.name}}</h2>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="{{'result.label' | translate}}" color="accent">
      <app-result-cl *ngIf="competition" [competition]="competition"></app-result-cl>
    </mat-tab>
    <mat-tab label="{{'table.label' | translate}}" color="accent">
      <app-table-cl *ngIf="competition" [competition]="competition"></app-table-cl>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<mat-spinner *ngIf="loading"></mat-spinner>
