<ng-container *ngIf="!loading">
  <h2 *ngIf="!isBloc">{{'menu.today' | translate}}</h2>
  <h4 *ngIf="isBloc">{{'menu.today' | translate}}</h4>
  <mat-toolbar>
    <mat-toolbar-row class="head" [class.isBloc]="isBloc">
      <span>Matches du jour</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="fixtures" role="list">
    <div *ngFor="let fixture of fixtures |  groupBy:'competitionName'" role="listitem" class="border mt-3 mb-3">
      <mat-toolbar class="day">
        <mat-toolbar-row>
          {{fixture.key }}
        </mat-toolbar-row>
      </mat-toolbar>
        <app-fixture *ngFor="let fix of fixture.value" [fixture]="fix"></app-fixture>
    </div>
  </div>
</ng-container>
<mat-spinner *ngIf="loading"></mat-spinner>
