<h4>{{'menu.today' | translate}}</h4>
  <div *ngIf="!!fixtures" role="list">
    <div *ngFor="let fixture of fixtures |  groupBy:'competitionName'" role="listitem" class="border mt-3 mb-3">
      <mat-toolbar class="day">
        <mat-toolbar-row>
          {{fixture.key }}
        </mat-toolbar-row>
      </mat-toolbar>
      <ng-container>
        <app-fixture-min *ngFor="let fix of fixture.value; let odd=odd;" [class.odd]="odd" [competition]="fix.competition" [fixture]="fix"></app-fixture-min>
      </ng-container>
    </div>
  </div>
<div *ngIf="!fixtures">
  {{'no_matches'| translate}}
</div>
