@import '~@angular/material/theming';
.details-content{
  display: flex;
  justify-content: center;
  h5{
    margin-bottom: 0;
    background: mat-color($mat-grey, 300);
    padding: 10px;
    border-bottom: none;
  }
  .details{
    h5{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  .home-details, .away-details{
    flex: 7;
  }
  .separator{
    flex: 1;
  }

}
.event-content {
  .event{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      flex: 7;
      display: block;
    }
    span.event-type{
      flex: 1;
      text-align: center;
    }
  }
  .minute,
  .second {
    color: mat-color($mat-grey, 500);
    font-size: 0.8em;
  }
  .home-event{
    flex-direction: row;
    .event-details{
      text-align: right;
      border-right: 1px solid mat-color($mat-grey, 500);
      span {
        padding-right: 5px;
      }
    }
  }
  .away-event{
    flex-direction: row-reverse;
    .event-details{
      text-align: left;
      border-left: 1px solid mat-color($mat-grey, 500);
      span {
        padding-left: 5px;
      }
    }
  }
}
