<div *ngIf="!loading">
  <div class="table-item header">
    <div class="tab-header position">Pos</div>
    <div class="tab-header"  ></div>
    <div class="tab-header team" >équipe</div>
    <div class="tab-header"  >MJ</div>
    <div class="tab-header"  >G</div>
    <div class="tab-header"  >N</div>
    <div class="tab-header"  >P</div>
    <div class="tab-header"  >Diff</div>
    <div class="tab-header"  >Pts</div>
  </div>
  <app-table-team *ngFor="let table of tables; let odd=odd;" [teamTable]="table" [class.odd]="odd"></app-table-team>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
