<div *ngIf="!loading">
  <div class="table-item header">
    <div class="tab-header position">{{'table.ranking' | translate}}</div>
    <div class="tab-header"  ></div>
    <div class="tab-header team" >{{'table.team' | translate}}</div>
    <div class="tab-header"  >{{'table.played' | translate}}</div>
    <div class="tab-header"  >{{'table.win' | translate}}</div>
    <div class="tab-header"  >{{'table.draw' | translate}}</div>
    <div class="tab-header"  >{{'table.lost' | translate}}</div>
    <div class="tab-header"  >{{'table.diff' | translate}}</div>
    <div class="tab-header"  >{{'table.points' | translate}}</div>
  </div>
  <app-table-team *ngFor="let table of tables; let odd=odd;" [teamTable]="table" [class.odd]="odd"></app-table-team>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
