<ng-container *ngIf="!loading">
  <mat-grid-list cols="12" rowHeight="48px">
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >Pos</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="5" [rowspan]="1" >équipe</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >MJ</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >G</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >N</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >P</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >Diff</mat-grid-tile>
    <mat-grid-tile class="tab-header" [colspan]="1" [rowspan]="1" >Pts</mat-grid-tile>
    <ng-container *ngFor="let table of tables">
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.position}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="5" [rowspan]="1" >{{table.teamName}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.playedGames}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.wins}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.draws}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.losses}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.goalDifference}}</mat-grid-tile>
      <mat-grid-tile class="tab-row" [colspan]="1" [rowspan]="1" >{{table.points}}</mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</ng-container>
<mat-spinner *ngIf="loading"></mat-spinner>
