<ng-container *ngIf="!loading && !error">
  <h2>{{competition.competition.name}}</h2>
  <mat-tab-group>
    <mat-tab label="{{'result.label' | translate}}" color="accent">
      <app-result *ngIf="competition" [competition]="competition"></app-result>
    </mat-tab>
    <mat-tab label="{{'table.label' | translate}}" color="accent">
      <app-table *ngIf="competition" [standings]="competition.standings"></app-table>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<mat-spinner *ngIf="loading"></mat-spinner>
