@import '~@angular/material/theming';
.lineup, .details{
  h5{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: none;
  }
}
.player{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  &.odd{
    background-color: mat-color($mat-gray, 100);
  }
  .position{
    flex: 1;
    padding: 2px;
    color: mat-color($mat-grey, 50);
    background: mat-color($mat-grey, 800);
    text-align: center;
  }
  .shirt-number{
    flex: 1;
    text-align: center;
  }
  .name{
    flex: 8;
  }
  .captain {
    flex: 1;
    color: mat-color($mat-grey, 50);
    background: mat-color($mat-grey, 600);
    text-align: center;
  }
}
h5 {
  margin-bottom: 0;
  background: mat-color($mat-grey, 200);
  padding: 10px;
  border-bottom: 0;
}
