<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <mat-toolbar>
      <mat-toolbar-row>
        <a  href="" mat-button>News</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a  href="" mat-button [routerLink]="['/chamions-league/2001']" [routerLinkActive]="['mat-accent']" [routerLinkActiveOptions]="{exact: true}" >{{leagueList.champions_league}}</a>
      </mat-toolbar-row>
      <mat-toolbar-row *ngFor="let league of leagueList">
        <a  href="" mat-button [routerLink]="['/result/' + league.id]" [routerLinkActive]="['mat-accent']" [routerLinkActiveOptions]="{exact: true}" >{{league.name}}</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>ALL FOOT</h1>
    <button mat-button (click)="sidenav.toggle()" id="menu-button">
      <i class="material-icons">menu</i>
    </button>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
