h1{
  text-align: center;
}
mat-toolbar{
  height: 100%;
}
mat-toolbar-row{
  padding: 0;
  height: 48px;
}
mat-toolbar-row a{
  width: 100%;
  padding: 0 30px;
  text-align: left;
  display: flex;
  align-items: center;
}
mat-toolbar-row a app-icon{
  height: 24px;
  display: inline-block;
}
mat-toolbar-row a app-icon {
  padding-right: 15px;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav-content{
  //background: linear-gradient(to right, #196c46, #9bd44f, #196c46);
}
i.material-icons{
  padding-right: 20px;
}

