<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <mat-toolbar>
      <mat-toolbar-row>
        <a  href="" mat-button>
          <i class="material-icons">public</i> News</a>
      </mat-toolbar-row>
      <mat-toolbar-row *ngFor="let league of leagueList" [routerLink]="['/result/' + league.id]" [routerLinkActive]="['mat-accent']" [routerLinkActiveOptions]="{exact: true}" >
        <a class="menu-item" mat-button >
          <app-icon [type]="league.country"></app-icon> <span>{{league.name}}</span>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>ALL FOOT</h1>
    <button mat-button (click)="sidenav.toggle()" id="menu-button">
      <i class="material-icons">menu</i>
    </button>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
