h1{
  text-align: center;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
  overflow-x: hidden;
}
mat-sidenav-content{
  //background: linear-gradient(to right, #196c46, #9bd44f, #196c46);
}

