h1{
  text-align: center;
}
mat-toolbar{
  height: 100%;
}
mat-toolbar-row{
  padding: 0;
  height: 48px;
}
mat-toolbar-row a{
  width: 100%;
  padding: 0 30px;
  text-align: left;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav-content{
  //background: linear-gradient(to right, #196c46, #9bd44f, #196c46);
}
