<br/>France<br/>
<app-svg-icon [id]="521"></app-svg-icon>
<app-svg-icon [id]="548"></app-svg-icon>
<app-svg-icon [id]="524"></app-svg-icon>
<app-svg-icon [id]="528"></app-svg-icon>
<app-svg-icon [id]="511"></app-svg-icon>
<app-svg-icon [id]="529"></app-svg-icon>
<app-svg-icon [id]="516"></app-svg-icon>
<app-svg-icon [id]="518"></app-svg-icon>
<app-svg-icon [id]="523"></app-svg-icon>
<app-svg-icon [id]="527"></app-svg-icon>
<app-svg-icon [id]="556"></app-svg-icon>
<app-svg-icon [id]="547"></app-svg-icon>
<app-svg-icon [id]="514"></app-svg-icon>
<app-svg-icon [id]="530"></app-svg-icon>
<app-svg-icon [id]="576"></app-svg-icon>
<app-svg-icon [id]="543"></app-svg-icon>
<app-svg-icon [id]="522"></app-svg-icon>
<app-svg-icon [id]="532"></app-svg-icon>
<app-svg-icon [id]="526"></app-svg-icon>
<app-svg-icon [id]="538"></app-svg-icon>
<br/>la Liga<br/>
<app-svg-icon [id]="81"></app-svg-icon>
<app-svg-icon [id]="86"></app-svg-icon>
<app-svg-icon [id]="558"></app-svg-icon>
<app-svg-icon [id]="88"></app-svg-icon>
<app-svg-icon [id]="559"></app-svg-icon>
<app-svg-icon [id]="77"></app-svg-icon>
<app-svg-icon [id]="80"></app-svg-icon>
<app-svg-icon [id]="92"></app-svg-icon>
<app-svg-icon [id]="82"></app-svg-icon>
<app-svg-icon [id]="78"></app-svg-icon>
<app-svg-icon [id]="298"></app-svg-icon>
<app-svg-icon [id]="263"></app-svg-icon>
<app-svg-icon [id]="90"></app-svg-icon>
<app-svg-icon [id]="299"></app-svg-icon>
<app-svg-icon [id]="278"></app-svg-icon>
<app-svg-icon [id]="250"></app-svg-icon>
<app-svg-icon [id]="95"></app-svg-icon>
<app-svg-icon [id]="94"></app-svg-icon>
<app-svg-icon [id]="745"></app-svg-icon>
<app-svg-icon [id]="87"></app-svg-icon>
<br/>Primer league<br/>
<app-svg-icon [id]="64"></app-svg-icon>
<app-svg-icon [id]="61"></app-svg-icon>
<app-svg-icon [id]="346"></app-svg-icon>
<app-svg-icon [id]="65"></app-svg-icon>
<app-svg-icon [id]="73"></app-svg-icon>
<app-svg-icon [id]="1044"></app-svg-icon>
<app-svg-icon [id]="62"></app-svg-icon>
<app-svg-icon [id]="338"></app-svg-icon>
<app-svg-icon [id]="57"></app-svg-icon>
<app-svg-icon [id]="66"></app-svg-icon>
<app-svg-icon [id]="76"></app-svg-icon>
<app-svg-icon [id]="340"></app-svg-icon>
<app-svg-icon [id]="63"></app-svg-icon>
<app-svg-icon [id]="397"></app-svg-icon>
<app-svg-icon [id]="354"></app-svg-icon>
<app-svg-icon [id]="715"></app-svg-icon>
<app-svg-icon [id]="394"></app-svg-icon>
<app-svg-icon [id]="67"></app-svg-icon>
<app-svg-icon [id]="328"></app-svg-icon>
<app-svg-icon [id]="563"></app-svg-icon>
<br/>Serie A<br/>

<!--Juventus-->
<app-svg-icon [id]="109"></app-svg-icon>
<!--US Sassuolo Calcio-->
<app-svg-icon [id]="471"></app-svg-icon>
<!--ACF Fiorentina-->
<app-svg-icon [id]="99"></app-svg-icon>
<!--SPAL 2013-->
<app-svg-icon [id]="1107"></app-svg-icon>
<!--SSC Napoli-->
<app-svg-icon [id]="113"></app-svg-icon>
<!--Atalanta BC-->
<app-svg-icon [id]="102"></app-svg-icon>

<!--FC Internazionale Milano-->
<app-svg-icon [id]="108"></app-svg-icon>
<!--Empoli FC-->
<app-svg-icon [id]="445"></app-svg-icon>
<!--AS Roma-->
<app-svg-icon [id]="100"></app-svg-icon>
<!--Udinese Calcio-->
<app-svg-icon [id]="115"></app-svg-icon>
<!--Torino FC-->
<app-svg-icon [id]="586"></app-svg-icon>
<!--Cagliari Calcio-->
<app-svg-icon [id]="104"></app-svg-icon>
<!--UC Sampdoria-->
<app-svg-icon [id]="584"></app-svg-icon>
<!--AC Milan-->
<app-svg-icon [id]="98"></app-svg-icon>
<!--Genoa CFC-->
<app-svg-icon [id]="107"></app-svg-icon>
<!--SS Lazio-->
<app-svg-icon [id]="110"></app-svg-icon>
<!--Parma Calcio 1913-->
<app-svg-icon [id]="112"></app-svg-icon>
<!--Bologna FC 1909-->
<app-svg-icon [id]="103"></app-svg-icon>
<!--Frosinone Calcio-->
<app-svg-icon [id]="470"></app-svg-icon>
<!--AC Chievo Veron -->
<app-svg-icon [id]="106"></app-svg-icon>

