<app-svg-definitions></app-svg-definitions>

<app-svg-icon [id]="64"></app-svg-icon>
<app-svg-icon [id]="61"></app-svg-icon>
<app-svg-icon [id]="346"></app-svg-icon>
<app-svg-icon [id]="65"></app-svg-icon>
<app-svg-icon [id]="73"></app-svg-icon>
<app-svg-icon [id]="1044"></app-svg-icon>
<app-svg-icon [id]="62"></app-svg-icon>
<app-svg-icon [id]="338"></app-svg-icon>
<app-svg-icon [id]="57"></app-svg-icon>
<app-svg-icon [id]="66"></app-svg-icon>
<app-svg-icon [id]="76"></app-svg-icon>
<app-svg-icon [id]="340"></app-svg-icon>
<app-svg-icon [id]="63"></app-svg-icon>
<app-svg-icon [id]="397"></app-svg-icon>

<app-svg-icon [id]="521"></app-svg-icon>
<app-svg-icon [id]="548"></app-svg-icon>
<app-svg-icon [id]="524"></app-svg-icon>
<app-svg-icon [id]="528"></app-svg-icon>
<app-svg-icon [id]="511"></app-svg-icon>
<app-svg-icon [id]="529"></app-svg-icon>
<app-svg-icon [id]="516"></app-svg-icon>
<app-svg-icon [id]="518"></app-svg-icon>
<app-svg-icon [id]="523"></app-svg-icon>
<app-svg-icon [id]="527"></app-svg-icon>
<app-svg-icon [id]="556"></app-svg-icon>
<app-svg-icon [id]="547"></app-svg-icon>
<app-svg-icon [id]="514"></app-svg-icon>
<app-svg-icon [id]="530"></app-svg-icon>
<app-svg-icon [id]="576"></app-svg-icon>
<app-svg-icon [id]="543"></app-svg-icon>
<app-svg-icon [id]="522"></app-svg-icon>
<app-svg-icon [id]="532"></app-svg-icon>
<app-svg-icon [id]="526"></app-svg-icon>
<app-svg-icon [id]="538"></app-svg-icon>

<app-svg-icon [id]="81"></app-svg-icon>
<app-svg-icon [id]="86"></app-svg-icon>
<app-svg-icon [id]="558"></app-svg-icon>
<app-svg-icon [id]="88"></app-svg-icon>
<app-svg-icon [id]="559"></app-svg-icon>
<app-svg-icon [id]="77"></app-svg-icon>
<app-svg-icon [id]="80"></app-svg-icon>
<app-svg-icon [id]="92"></app-svg-icon>
<app-svg-icon [id]="82"></app-svg-icon>
<app-svg-icon [id]="78"></app-svg-icon>
<app-svg-icon [id]="298"></app-svg-icon>
<app-svg-icon [id]="263"></app-svg-icon>
<app-svg-icon [id]="90"></app-svg-icon>
<app-svg-icon [id]="299"></app-svg-icon>
<app-svg-icon [id]="278"></app-svg-icon>
<app-svg-icon [id]="250"></app-svg-icon>
<app-svg-icon [id]="95"></app-svg-icon>
<app-svg-icon [id]="94"></app-svg-icon>
<app-svg-icon [id]="745"></app-svg-icon>
<app-svg-icon [id]="87"></app-svg-icon>
