@import '~@angular/material/theming';
mat-toolbar{
  background-color: mat-color($mat-gray, 800);
  min-height: 100%;
  .logo {
    text-align: center;
    margin: 40px;
    img {
      width: 120px;
      height: auto;
    }
  }
}
mat-toolbar-row{
  padding: 0;
  height: 42px;
}
mat-toolbar-row a{
  width: 100%;
  padding: 0 30px;
  text-align: left;
  display: flex;
  align-items: center;
  color: mat-color($mat-gray, 400);
}

.social-links{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  a {
    text-decoration: none;
    flex: 1;
  }
}

