<mat-toolbar>
  <div class="logo">
    <a href="" [routerLink]="['']">
      <img src="../../../../assets/img/1185558713_99093607-daf4-42be-b520-411944171f2a.png" alt="">
    </a>
  </div>
  <mat-toolbar-row>
    <a mat-button href="" [routerLink]="['/news']" >
      <span>{{'menu.news' | translate}}</span>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-button href="" [routerLink]="['/today']" >
      <span>{{'menu.today' | translate}}</span>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-button [matMenuTriggerFor]="menu" >
      <span>{{'menu.competition' | translate}}</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu" [xPosition]="'after'">
  <ul>
    <li>
      <a  href="" mat-button  [routerLink]="['/chamions-league']" [routerLinkActive]="['mat-accent']" [routerLinkActiveOptions]="{exact: true}" >
        <app-icon [type]="'champions_league'"></app-icon><span>UEFA Champions League</span>
      </a>
    </li>
    <li *ngFor="let league of leagueList">
      <a class="menu-item" mat-button  [routerLink]="['/league/' + league.path]" [routerLinkActive]="['mat-accent']" [routerLinkActiveOptions]="{exact: true}" >
        <app-icon [type]="league.country"></app-icon> <span>{{league.name}}</span>
      </a>
    </li>
  </ul>
</mat-menu>
