<div *ngIf="!loading">
  <ng-container *ngFor="let table of tables; let i = index">
    <mat-toolbar class="group-head" color="primary">
      <mat-toolbar-row>Group {{i+1}}</mat-toolbar-row>
    </mat-toolbar>
    <div class="table-item header">
      <div class="tab-header position">Pos</div>
      <div class="tab-header"  ></div>
      <div class="tab-header team" >équipe</div>
      <div class="tab-header"  >MJ</div>
      <div class="tab-header"  >G</div>
      <div class="tab-header"  >N</div>
      <div class="tab-header"  >P</div>
      <div class="tab-header"  >Diff</div>
      <div class="tab-header"  >Pts</div>
    </div>
    <app-table-team *ngFor="let tab of table; let odd=odd;" [teamTable]="tab" [class.odd]="odd"></app-table-team>
  </ng-container>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
