<div *ngIf="!loading">
  <ng-container *ngFor="let table of tables; let i = index">
    <mat-toolbar class="group-head">
      <mat-toolbar-row>{{'table.group' | translate}} {{getGroupLabel(i)}}</mat-toolbar-row>
    </mat-toolbar>
    <div class="table-item header">
      <div class="tab-header position">{{'table.ranking' | translate}}</div>
      <div class="tab-header"  ></div>
      <div class="tab-header team" >{{'table.team' | translate}}</div>
      <div class="tab-header"  >{{'table.played' | translate}}</div>
      <div class="tab-header"  >{{'table.win' | translate}}</div>
      <div class="tab-header"  >{{'table.draw' | translate}}</div>
      <div class="tab-header"  >{{'table.lost' | translate}}</div>
      <div class="tab-header"  >{{'table.diff' | translate}}</div>
      <div class="tab-header"  >{{'table.points' | translate}}</div>
    </div>
    <app-table-team *ngFor="let tab of table; let odd=odd;" [teamTable]="tab" [class.odd]="odd"></app-table-team>
  </ng-container>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
