@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Jura', sans-serif;
  margin: 0;
}
.container {
  /* On centre */
  margin: 0 auto;

  /* On limite la largeur pour les grands écrans */
  max-width: 1280px;

  /* On gère la présence d'une marge */
  width: 90%;
}
mat-spinner{
  margin: 20% auto;
}

/*
* Comme la dite marge est exprimée en pourcentage,
* on l'augmente sur les devices moins larges.
*/
@media only screen and (min-width: 993px){
  .container {
    width: 85%;
  }
}
