@import '~@angular/material/theming';
.footer{
  min-height: 80px;
  background-color: mat-color($mat-gray, 900);
  margin-top: 100px;
}
.logo{
  text-align: center;
}
.sub-footer{
  p{
    color: mat-color($mat-gray, 400);
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
  }
}
